{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Connexion!</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('css/register.css') }}">
        <link rel="stylesheet" href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css') }}">
    </head>
    <body class="align">
    <div class="grid align__item">
        <div class="register">
            <h2><img src="{{ asset('./images/Logo.png') }}" alt="Recette Logo" class="logo-img me-2"></h2>
            <h2>Log in!</h2>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="form__field">
                    <label for="inputUsername">Nom d'utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                </div>

                <div class="form__field">
                    <label for="inputPassword">Mot de Passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn--submit" type="submit">
                    Se connecter
                </button>
            </form>
            <p class="log">Vous N'avez pas de compte? <a href="{{ path('app_register') }}">S'inscrire</a></p>
        </div>
    </div>
    </body>
{% endblock %}
